{% extends 'common/base.html' %}

{% block nav %}
<nav>
  <div class="container">
    <div class="row pd20">
      <div class="col-sm tac">
        <button type="button" class="btn btn-light" onclick="move('/regist')">登録</button>
      </div>
      <div class="col-sm tac">
        <button type="button" class="btn btn-secondary" onclick="move('/')">リスト</button>
      </div>
      <div class="col-sm tac">
        <button type="button" class="btn btn-light" onclick="move('/report')">レポート</button>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<h2 class="tac">ポスト詳細</h2>
<form action="javascript:void(0);">
  <div class="form-group">
    <label>番号</label>
    <div class="view-box">
      {{ id }}
    </div>
  </div>
  <div class="form-group">
    <label>タイトル</label>
    <div class="view-box">
      {{ form.title.value }}
    </div>
  </div>
  <div class="form-group">
    <label>内容</label>
    <div class="view-box">
      {{ form.content.value | safe }}
    </div>
  </div>
  <div class="form-group">
    <label>登録日</label>
    <div class="view-box">
      {{ form.regist_date.value | date:"Y-m-d G:i:s" }}
    </div>
  </div>
  <div class="tar">
    <button class="btn btn-dark" onclick="post_delete()">削除</button>
  </div>
</form>
<input hidden type="text" id="post_id" value="{{ id }}">
{% endblock %}
