{% extends 'common/base.html' %}

{% block nav %}
<nav>
  <div class="container">
    <div class="row pd20">
      <div class="col-sm tac">
        <button type="button" class="btn btn-secondary" onclick="move('/regist')">登録</button>
      </div>
      <div class="col-sm tac">
        <button type="button" class="btn btn-light" onclick="move('/')">リスト</button>
      </div>
      <div class="col-sm tac">
        <button type="button" class="btn btn-light" onclick="move('/report')">レポート</button>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  <h2 class="tac">ポスト登録</h2>
  <form action="javascript:void(0);">
    <div class="form-group">
      <label>タイトル</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label>内容</label>
      {{ form.content }}
    </div>
    <div class="tar">
      <button class="btn btn-dark" onclick="post_save()">登録</button>
    </div>
  </form>
{% endblock %}
