{% extends 'common/base.html' %}

{% block nav %}
<nav>
  <div class="container">
    <div class="row pd20">
      <div class="col-sm tac">
        <button type="button" class="btn btn-light" onclick="move('/regist')">登録</button>
      </div>
      <div class="col-sm tac">
        <button type="button" class="btn btn-light" onclick="move('/')">リスト</button>
      </div>
      <div class="col-sm tac">
        <button type="button" class="btn btn-secondary" onclick="move('/report')">レポート</button>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  {% for r in report %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4 report-hanja">
          {{ r.hanja }}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">
              <span>
                ランク
              </span>
              <span class="pwb">
                {{ r.ranking | stringformat:"i" }}
              </span>
            </p>
            <p class="card-text">
              <span>ひらがな</span>
              <span class="fwb">
              {{ r.hiragana }}
              </span>
            </p>
            <p class="card-text">
              <span>意味</span>
              <span class="fwb">
              {{ r.hangul }}
              </span>
            </p>
            <p class="card-text">
              <span>累積</span>
              <span class="fwb">
              {{ r.total_cnt }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
